:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --title-text-color: #757575;
  --primary-bcr-color: #e5e5e5;
  --primary-white-color: #ffffff;
  --primary-bcrr-color: #f5f4fa;
  --color-address: rgba(255, 255, 255, 0.6);
  --bcr-footer: #2f303a;
  --btn-hov-foc-color: #2196f3;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-size: 14px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  align-items: center;
}
.container-contact {
  margin-left: auto;
}

.header-list {
  display: flex;
}
.header-logo {
  margin-right: 93px;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: Raleway, cursive;
  color: var(--accent-color);
  text-decoration: none;

  font-size: 26px;
  line-height: 1.19;
}
.logo-style {
  color: var(--primary-text-color);
}
.site-nav .link {
  text-decoration: none;
}
.site-nav .link.curent {
  color: var(--accent-color);
}
.site-nav .link:focus,
.site-nav .link:hover {
  color: var(--accent-color);
}
.auth-nav .link:focus,
.auth-nav .link:hover {
  color: var(--accent-color);
}
.auth-nav {
  margin-left: auto;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
}
.site-nav,
.section-title {
  color: var(--primary-text-color);
}
.auth-nav .link {
  text-decoration: none;

  color: var(--title-text-color);
}

.auth-nav,
.site-nav {
  font-weight: 500;
  line-height: 1.14;
  display: flex;
}

/* Герой */

.hero {
  background-color: var(--bcr-footer);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}
.hero-title {
  color: var(--primary-white-color);
  margin-bottom: 39px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
.button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;

  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 0;
  margin-bottom: 30px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
}

.button:hover,
.button:focus {
  color: var(--btn-hov-foc-color);
}
/* ПРИНЦИПИ РОБОТИ */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}
.feature-item {
  width: calc(100% / 4 - 30px);
  margin-bottom: 30px;
  margin-right: 30px;
}
.feature-list .title {
  color: var(--primary-text-color);

  font-weight: 700;
  line-height: 1.14;
}
.section-team {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.text,
.text-list {
  color: var(--title-text-color);
}

.text-list {
  line-height: 1.71;
  margin-top: 0;
}

.text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Чем мы занимаемся */
.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.section-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.work-item {
  width: calc(100% / 3 -30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

/* Наша команда */

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}

.section-team {
  background-color: var(--primary-bcr-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.team-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
/* Футер */

.page-footer {
  background-color: var(--bcr-footer);

  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-styles {
  color: var(--primary-white-color);

  margin-bottom: 20px;
}

.footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer .link {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 9px;
}
.footer .link {
  color: var(--color-address);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--primary-white-color);
}

/* portfolio */

.item-button {
  color: var(--primary-text-color);

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  padding: 6px 22px;
  border-radius: 4px;
  border: 1x solid transparent;
}

.project-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project .link {
  text-decoration: none;
}

.project-text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.item-button:focus,
.item-button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  cursor: pointer;
}
.item {
  display: flex;
  justify-content: center;

  padding-bottom: 50px;
  padding-top: 94px;
}
.buttons:not(:last-child) {
  margin-right: 8px;
}
.project {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.project-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
